# Don’t commit the following directories created by pub.
build/
packages/
.pub/
.buildlog
.packages
.project

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Directory created by dartdoc
doc/api/

# Include when developing application packages.
pubspec.lock
